   <div class="add-product__images slider">
                <div class="add-product__image-actions">
                    <div class="add-product__image-action">
                        <a href="#"><i class="fas fa-plus-square"></i></a>
                        <a href="#"><i class="fas fa-edit"></i></a>
                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="slider__items">
                    <div class="slider__item active" style="background-image: url(assets/images/products/product-grey-7.jpg)"></div>
                    <div class="slider__item" style="background-image: url(assets/images/products/product-grey-7.jpg)"></div>
                    <div class="slider__item" style="background-image: url(assets/images/products/product-grey-7.jpg)"></div>
                </div>
                <div class="slider__indicators">
                    <span class="slider__indicator active"></span>
                    <span class="slider__indicator"></span>
                    <span class="slider__indicator"></span>
                </div>
            </div> 
